body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(rgb(71, 141, 246), #211951);
  color: hwb(0 71% 29%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background: rgb(9 9 22 / 60%);
  /* padding: 40px; */
  border-radius: 10px;
  box-shadow: 9px 7px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  height: 400px;
  width: 300px;
  justify-content: center;
}

.circular-progress {
  position: relative;
  width: 150px;
  height: 150px;
}

.circular-progress svg {
  transform: rotate(-90deg);
}

.circular-progress circle {
  fill: none;
  stroke-width: 15;
  stroke-linecap: round;
}

.circular-progress .track {
  stroke: #b5b5b5;
}

.circular-progress .progress {
  stroke: url(#gradient);
  transition: stroke-dashoffset 0.5s;
}

.circular-progress .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
}

.value {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  margin-top: 20px;
}

.buttons-row {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  margin-bottom: 16px;
}

.buttons-row .button-wrapper {
  position: relative;
  width: 40%;
}

.button-wrapper button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.plus-one,
.minus-one {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
  animation: moveUp 1s forwards;
}
.minus-one {
  color: #dc004e;
}

@keyframes moveUp {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-30px);
  }
}

button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button:active {
  transform: scale(0.95);
}

button.secondary {
  background-color: #dc004e;
}

button.default {
  background-color: #7c7c7c;
}

button:hover {
  background-color: #115293;
}

button.secondary:hover {
  background-color: #a30036;
}

button.default:hover {
  background-color: #707070;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
